# Copy to apple-store.env and fill in after creating profiles in developer.apple.com
# source scripts/apple-store.env && ./scripts/build-appstore-apple.sh 3.20

export APPLE_TEAM_ID="VPV4CVFJYL"
export APPLE_CODESIGN_KEY="Apple Distribution: Jack Miller (VPV4CVFJYL)"
export APPLE_CODESIGN_PROVISION_MAC="ADK Cyber AI Mac App Store"
export APPLE_CODESIGN_PROVISION_IOS="ADK Cyber AI iOS App Store"